<?xml version='1.0' encoding='windows-1252' ?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="train.oracle.apps.ak.ak18726.poplist.server" >
   <DesignTime>
      <Attr Name="_ejbPackage" Value="false" />
      <Attr Name="_version" Value="10.1.3.43.6" />
   </DesignTime>
   <Containee
      Name="poplistAM"
      FullName="train.oracle.apps.ak.ak18726.poplist.server.poplistAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="poplistVO"
      FullName="train.oracle.apps.ak.ak18726.poplist.server.poplistVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
